<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite Test Udemy">
	<test name="Testes do pacote 1">
		<classes>
			<class name="projeto.testeng.tests.TestClass2"></class>
			<class name="projeto.testeng.tests.Tests"></class>
		</classes>
	</test> <!-- Test -->

	<test name="Plano de pacote 1 e pacote 2">
		<classes>
			<class name="projeto.testeng.tests.TestClass2"></class>
			<class name="projeto.testeng.newtests.TestClassNew"></class>
		</classes>
	</test>
</suite> <!-- Suite Test Udemy -->
